apiVersion: template.openshift.io/v1
kind: Template
metadata:
  creationTimestamp:
  name: "redis-oauth"
  labels:
    app: "redis-oauth"
objects:
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    name: "redis-oauth"
  spec:
    replicas: 1
    selector:
      app: "redis-oauth"
    strategy:
      activeDeadlineSeconds: 21600
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      type: Rolling
    template:
      metadata:
        labels:
          app: "redis-oauth"
      spec:
        containers:
        - image: image-registry.openshift-image-registry.svc:5000/openshift/redis:5
          imagePullPolicy: Always
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - '-i'
                - '-c'
                - test "$(redis-cli ping)" == "PONG"
            initialDelaySeconds: 10
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 1
          name: "redis-oauth"
          ports:
            - containerPort: 6379
              name: redis
              protocol: TCP
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        terminationGracePeriodSeconds: 30
    test: false
    triggers:
    - type: ConfigChange
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: "redis-oauth"
    name: "redis-oauth"
  spec:
    ports:
    - name: 6379-tcp
      port: 6379
      protocol: TCP
      targetPort: 6379
    selector:
      app: "redis-oauth"
    sessionAffinity: None
    type: ClusterIP