name: Promote Image
run-name: Promote ${{ inputs.tag }} to ${{ inputs.cluster }}
on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
        description: The tag to promote
      cluster:
        type: string
        required: true
        description: >
          The cluster to which to promote the image. For possible values, see the `clusters`
          variable in `actions/common/config.mjs`. Each of the keys is a possible value
          (case-insensitive). There are, additionally, two special values `__acc` and `__prd`,
          which promote to all acc and all prd clusters, respectively
      user:
        type: string
        default: ${{ github.actor }}
        required: true
        description: The user promoting the image
jobs:
  promote:
    name: Promote Image
    runs-on: ubuntu-latest
    steps:
      - name: Promote Image
        uses: icemobilelab/github-actions-pipeline/actions/promote-image@v1
        with:
          tag: ${{ inputs.tag }}
          cluster: ${{ inputs.cluster }}
          user: ${{ inputs.user }}
        env:
          TST_AUTH_TOKEN: ${{ secrets.TST_AUTH_TOKEN }}
          ACC_CANADACENTRAL_AUTH_TOKEN: ${{ secrets.ACC_CANADACENTRAL_AUTH_TOKEN }}
          ACC_WESTEUROPE_AUTH_TOKEN: ${{ secrets.ACC_WESTEUROPE_AUTH_TOKEN }}
          PRD_CANADACENTRAL_AUTH_TOKEN: ${{ secrets.PRD_CANADACENTRAL_AUTH_TOKEN }}
          PRD_CANADACENTRAL2_AUTH_TOKEN: ${{ secrets.PRD_CANADACENTRAL2_AUTH_TOKEN }}
          PRD_WESTEUROPE_AUTH_TOKEN: ${{ secrets.PRD_WESTEUROPE_AUTH_TOKEN }}
